* {
  box-sizing: border-box;
}
body {
  position: relative;
}

header {
  width: 80%;
  margin: 0 auto;
}
header h1 {
  text-align: center;
}
.score {
  width: 49%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
ul {
  padding: 0;
}
.player li {
  list-style: none;
  display: inline-block;
}
 /* .container {
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  padding: 2.5rem;
} */
.container {
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template: repeat(3, 1fr) /repeat(3, 1fr);
  grid-gap: 1px;
  margin: 0 auto;
}
.container div {
  background-color: #454545;
  width: 9rem;
  height: 9rem;
  display: inline-block;
  margin: auto;
}
.square:hover {
  background-color: black;
}
.cross {
  background-image: url('../images/cross.svg');
}
.nought {
  background-image: url('../images/knot.svg');
}
p {
  display: none;
}
#winner {
  position: absolute;
  left: 50%;
  /* top: 50%; */
  -webkit-transform: translateX(-50%);
  background-color: blue;
  /* margin: -70px 0 0 -170px; */
  height: 25rem;
  width: 30rem;
  visibility: hidden;
}
button {

}
#draw {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: blue;
  visibility: hidden;
  /* display: none; */
}
/* img {
  width: 1rem;
  margin: 0;
  padding: 0;
} */
