@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
* {
  box-sizing: border-box;
}
html {
  background-image: url('../images/background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  position: relative;

}
h2, h3 {
  display: inline;
  color: #cf55a2;
}
#title {
  width: 10%;
  display: inherit;
  margin: 0 auto;
}
header {
  width: 80%;
  margin: 1rem auto 2rem auto;
  /* background-color: gray; */
}
header h1 {
  text-align: center;
  color: #cf55a2;

}
.score {
  width: 49%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
ul {
  padding: 0;
}
.player li {
  list-style: none;
  display: inline-block;
}
 /* .container {
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  padding: 2.5rem;
} */
.container {
  width: 27rem;
  /* height: 30rem; */
  display: grid;
  grid-template: repeat(3, 1fr) /repeat(3, 1fr);
  /* grid-gap: 1px; */
  margin: 0 auto;
}
.container div {

  /* background-color: rgb(144, 75, 45); */
  width: 9rem;
  height: 9rem;
  display: inline-block;
  margin: auto;
}
.square:hover {
  /* background-color: #cf55a2; */
  background-image: url('../images/hover.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.square {
  background-image: url('../images/brick.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cross {
  background-image: url('../images/cross.svg');
}
.nought {
  background-image: url('../images/mario.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
p {
  display: none;
}

.endGame {
  width: 30rem;
  height: 20rem;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10rem 0 0 -15rem;
}
.end {
  text-align: center;
  margin-bottom: 5rem;
}
button {
  width: 10rem;
  height: 3rem;
  font-size: 1.5rem;
  display: block;
  margin: 0 auto;
}
